<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Azonosító</th>
            <th>Név</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.userName}}</td>
            <td><button class="btn btn-primary" [routerLink]="['/employees/', user.id]"><i class="fa fa-user"></i></button></td>
            <td><button class="btn btn-primary" [routerLink]="['/employee/edit', user.id]"><i class="fa fa-edit"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>