<div class="container mt-4">
  <div class="row">
    <h1>{{user.userName}}</h1>
  </div>
  <div class="row">
    <div>
      <strong>Szerepkör</strong>
      <p>{{user.role}}</p>
    </div>
    <div>
      <strong>Fizetés</strong>
      <p>{{user.salary}}</p>
    </div>
    <div>
      <strong>Munkatárs</strong>
      <p>{{user.started}}</p>
    </div>
    <div>
      <strong>Szabadságon</strong>
      <p>{{user.onHoliday}}</p>
    </div>
    <div>
      <strong>Kapcsolat</strong>
      <p>{{user.contact}}</p>
    </div>
  </div>
</div>