<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Azonosító</th>
            <th>Név</th>
            <th>Darab</th>
            <th>Ár</th>
            <th>Módosítás</th>
            <th>Módosító</th>
            <th>Részletek</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.count}}</td>
            <td>{{item.netPrice}}</td>
            <td>{{item.lastModify}}</td>
            <td>{{item.lastModifier}}</td>
            <td><button class="btn btn-primary" [routerLink]="['/items/', item.id]"><i class="fa fa-info"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>