<nav *ngIf="loggedIn()"  class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/items']">Storage App</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/items']">Cikkek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/employees']">Dolgozók</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Egyéb</a>
      </li>
      <li class="nav-item">
        <a class="nav-link signoutlink" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </li>
    </ul>

    <div>
      <a class="text-light">
        Hello {{authService.decodedToken?.unique_name | titlecase}}
      </a>
    </div>
    <!--drobdown menu elemet alakítottuk át ilyenné-->
    <!--
    <div *ngIf="loggedInMode" class="dropdown">
      <a class="dropdown-toggle text-light">
        Welcome User
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>-->
  </div>
</nav>