<div class="container mt-4">
  <div class="row">
    <h1>{{item?.name}}</h1>
  </div>
  <div class="row">
    <div>
      <strong>Leírás</strong>
      <p>{{item?.description}}</p>
    </div>
    <div>
      <strong>Darabszám</strong>
      <p>{{item?.count}}</p>
    </div>
    <div>
      <strong>Bruttó érték</strong>
      <p>{{item?.grossprice}}</p>
    </div>
    <div>
      <strong>Nettó érték</strong>
      <p>{{item?.netPrice}}</p>
    </div>
    <div>
      <strong>Módosították</strong>
      <p>{{item?.lastModify}}</p>
    </div>
  </div>
</div>